* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;

}

.container {
    cursor: pointer;
}

span {
    font-size: 12rem;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
}

span.active {
    animation: jump 2s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0, 0) rotate(180deg);
    }

    100% {
        transform: scale(2) translate(0, -180px);

    }
}